 

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
    width: 100% !important;
    height: 23px !important;
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 25px !important ;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}
 
/*Arredondar bordas SelectBox */
.ui-selectonemenu, .ui-widget, .ui-state-default .ui-corner-all {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*Select Size*/
.ui-selectonemenu .ui-selectonemenu-trigger {
    width: 23px !important;
}

/*Arredondar bordas inputtext */
.ui-inputfield, .ui-widget-content .ui-inputfield,
.ui-widget-header .ui-inputfield {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;   
}
/*Adjust heigt select box */
.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
            margin-top: 6px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ui-widget {
    font-size: 0.9em;
}

.ui-widget-header {
    background: #ffffff;
}
