 

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
    width: 100% !important;
    height: 23px !important;
}
.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger {
    border-right: none;
    border-top: none;
    border-bottom: none;
    cursor: pointer;
    width: 25px !important ;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 3px;
}

.ui-selectonemenu {
 display: inline-flex !important;   
}

.ui-selectonemenu-label.ui-inputfield.ui-corner-all {
    height: 28px;
}

.ui-wizard-step-titles.ui-helper-reset.ui-helper-clearfix {
    width: 100% ;
    border-bottom: 1px solid #DDD;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #DDD;
    
}

.ui-wizard  {
   background: none repeat scroll 0% 0% #FFF;
   border-top-color: #3C8DBC;
}
 
/*Arredondar bordas SelectBox */
.ui-selectonemenu, .ui-widget, .ui-state-default .ui-corner-all {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
/*Select Size*/
.ui-selectonemenu .ui-selectonemenu-trigger {
    width: 23px !important;
}

/*Arredondar bordas inputtext */
.ui-inputfield, .ui-widget-content .ui-inputfield,
.ui-widget-header .ui-inputfield {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;   
}
/*Adjust heigt select box */
.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
            margin-top: 6px !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.ui-widget {
    font-size: 0.9em;
}

.ui-widget-header {
    background: #ffffff;
}
